version: '3.8'

services:
  # Service Backend (Flask)
  backend:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app  
    environment:
      - FLASK_APP=app.py
      # - FLASK_ENV=development 
      - FLASK_DEBUG=1 # A commenter plus tard quand go prod
    depends_on:
      - db 

  # Service Frontend (React)
  frontend:
    build:
      context: ./ui
      dockerfile: Dockerfile.dev 
    ports:
      - "3000:3000"
    volumes:
      - ./ui:/app
      - /app/node_modules 
    stdin_open: true  
    tty: true

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=forum_db
    volumes:
      - ./data:/var/lib/postgresql/data 
    ports:
      - "5432:5432"