body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #111111; /* Fond principal (très sombre) */
  color: #e2e8f0;           /* Texte principal (blanc cassé) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}