name: GameHub CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run the tests with pytest
      env:
        FLASK_APP: src/app.py
        FLASK_ENV: testing
        RAWG_API_KEY: "dummy_key_for_ci"
        SECRET_KEY: "dummy_secret_for_ci"
        PYTHONPATH: src
      run: |
        pytest -v src/tests/